.logo_container{
    gap:5px;
}

.logo__container .logo{
    width: 100px;
    height: 100px;
}

.logo__container{
    padding-left: 20px;
}

.logo__container img{
    object-fit: contain;
}

.logo__container h2{
    font-size: 30px
}