.navbar {
    justify-content: space-between;
    padding: 0 1 rem;
    width: 100%;
    position: relative;
    z-index: 1000;
}

.navbar.drop{
    position: sticky;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.8);
    -webkit-backdrop-filter: blur(90px);
    backdrop-filter: blur(90px);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    animation: drop 1s;
}

@keyframes drop {
    0%{top:-100%}
    100%{top:0;}
}

.navbar .navbar__links{
    display: flex;
    gap: 1.5rem;
}

.navbar .nav__item{
    padding:20px 0px;
    cursor: pointer;
    position: relative;
    font-size: var(--font-size-large);
    font-weight: 400;
    transition: var(--transition);
    border-radius: var(--radius-1);
    padding: 10px 15px;
    margin: 10px 0;
}

.navbar .nav__item:hover{
    color: var(--primary);
}

.navbar .nav__item.active{
    background: var(--primary);
    color: var(--color-white);
    border-radius: var(--radius-4);
}

.navbar .btn{
    border-radius: var(--radius-4);
    box-shadow: 0 10px 55px 0 var(--primary);
    padding: 0.7rem 1rem;
    font-size: var(--font-size-large);
}

.navbar .menu__btn{
    font-size: 30px;
    background: transparent;
    display: none;
}

/*.  Make a navbar Responsive.   */
@media (max-width:1156px){
    .navbar .social__handles{
        display: none;
    }
    .navbar .menu__btn{
        display: flex;

    }
}
@media (max-width:950px){
    .navbar{
        padding: 0.5rem 1rem;
    }
    .navbar .navbar__links{
        display:none;
    }
    .navbar .menu__btn{
        display: flex;
    }
    
}


@media (max-width:500px){
    .navbar .btn{
        display: none;
    }
}